contourpy
cycler
Faker
fonttools
imbalanced-learn
imblearn
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
tzdata
xgboost
fastapi
uvicorn
python-multipart
opencv-python
pdfminer.six
camelot-py[cv]
spacy
transformers
torch
torchvision
pdf2image
pytesseract
layoutparser
requests
beautifulsoup4
markdown