@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: #0f0e17;
    margin: 0;
    padding: 0;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out;
  }
}
